{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.phronemophobic/membrane {:mvn/version "0.10.1-beta"
                                     ;; :local/root "../membrane2"
                                     }}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}


  :viscous {:exec-fn com.phronemophobic.viscous.cli/main
            :extra-deps {org.clojure/data.json {:mvn/version "2.4.0"}}}

  :cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.3"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}

  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.3"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :project
  {:extra-deps {org.clojure/data.json {:mvn/version "2.4.0"}
                org.clojure/test.check {:mvn/version "0.9.0"}
                com.phronemophobic.membrane/skialib-macosx-aarch64
                {:mvn/version "RELEASE"
                 ;; :local/root "csource/macos-aarch64"
                 }}}

  :tagsoup
  {:extra-deps {
                org.clojure/data.xml {:mvn/version "0.0.8"}
                clj-tagsoup/clj-tagsoup {:mvn/version "0.3.0"
                                         :exclusions [org.clojure/data.xml]}
                }}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "viscous.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "viscous.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "viscous.jar"}}}}
